body{
	font-family: 'Roboto', sans-serif;
}

.ws_playpause{
	display: none;
}

.lglo{
	float: right; 
	padding-top: 5px;
}
.fnav a:hover{
	color: white;

}
.firstnav{
	background: #263238;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
	padding-top: 12px;
	font-size: 20px;
	color: white;
}

.login{
	color: white;
}
	.login:hover{
		text-decoration: none;
	}

.secnav{
	height: 115px;
	background-color: #546e7a;
	border: none;
	border-radius: 0px
	
}
.secondnav{
	width: 1500px;

}
.sitename{
	float: left;
	color: white;
	font-size: 30px;
	padding-top: 10px;
}
.searchbar{
	float: left;
	padding-left: 5%;
	padding-top: 20px;
}
.searchbar-style{
	border-radius: 100px;
	border: none;
	height: 35px;
	width: 400px;
	padding-left: 15px;
}
	.searchbar-style:focus{
	outline: none;
	}


.searchbutton{
	border-radius: 100px;
	border: none;
	height: 35px;
	width:60px;
}
.searchbutton:focus{
	outline:none;
}

	.sshape{
		background: white;
		padding: 2px;
		border-radius: 100px;
		width: 100%
	}
.navlink{
	color: white;
	font-size: 17px;
	padding-top: 20px;
}
.tbnavlink{
	
}
	.tbnavlink td{
		padding-right: 10px;
		border-right: 1px solid white;
		padding-left: 10px;
	}
	.tbnavlink a{
		color: white;
	}




.cart{
	float: right;
	color: white;
	padding-top: 16px;
	font-size: 30px;
}
.item{

}
	.item img{
	width: auto;
	height: 600px!important;
	overflow: hidden;
	}

.doanhnghiep{
	padding-top: 20px;
	font-size: 20px;
	/*border-bottom: 1px solid #ccc;*/
}
	.dntieubieu{
		border: 1px solid #ccc;
		text-align: center;
		font-size: 20px;
		box-shadow: none;
		transition: 0.5s;
		border-radius: 5px;

	}
		.dntieubieu img{
			display: block;
			margin-left: auto;
    		margin-right: auto;
    		max-height: 180px;
    		max-width: 240px;

		}
		.dntieubieu:hover{
			box-shadow: 0px 0px 5px grey;
			transition: 0.5s;
		}

.linkdn{
	color: black;
}
.linkdn:hover{
	text-decoration: none;
	color: black;

}

.sp{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 15px 15px 0px 15px;
	height: auto;
}
	.sp a{
		color: black;
		box-shadow: none;
		padding-bottom: 10px;
	}
	.sp a:hover{
		box-shadow: 0px 0px 5px grey;
		transition: 0.5s;
		text-decoration: none;
	}
.padding{
	padding-bottom: 15px;
}

.subsp{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0px
}
	.subsp img{
		width: 100%;
		height: 100px;
	}



.spthuenhieu{
	padding-bottom: 30px;
}

.spthuenhieu img{
	width: 100%;
	height: 100%;
}

.title{
	font-size: 20px;
}
	.title a:hover{
		color: black;
		text-decoration: none;
	}

.info{


}

footer{
	height: auto;
	background-color: #263238;
	padding-top: 50px;
	color: white;
}

	footer a{
		color: white;

	}
	footer a:hover{
		color: white;
		text-decoration: none;
	}
@media only screen and (max-width: 768px){
	.item img{
		width: 100%;
		height: 420px!important;
	}


	.subsp img{
		width: 100%;
		height: auto;
	}

}

@media only screen and (max-width: 425px){
	.tbnavlink a{
		color: black;
	}

	.sitename img{
		margin-left: auto;
    	margin-right: auto;
	}

	.lglo{
		float: left; 
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.searchbar{
		padding-left: 0px;
	}

	.searchbar-style{
		padding-left: 0px;
	}

	.navlink{
		padding-bottom: 10px;
	}
	.item img{
		height: 200px!important;
	}
}